<div class="container">
  <div class="row">


    <div leftdiv class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="background-color:white;">

      <div style="margin-bottom:50px;">
        <div style="text-align:center;" logo>
          <img class="img-thumbnail img-responsive" style="width:100px; height:80px;" src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Honda_Logo.svg"
            alt="Company Logo">
        </div>
        <div desc>
          LoremIpsumissimplydummytextoftheprintingandtypesettingindustry. LoremIpsumhasbeentheindustry'sstandarddummytexteversincethe
          1500s,whenanunknownprintertookagalleyoftypeandscrambleditto makeatypespecimenbook.Ithas
        </div>
      </div>

      <div >
        <div class="row">


          <div class="col-lg-4 col-md-4 col-sm-6 col-6" style="margin-bottom:50px;">
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6" style="margin-bottom:50px;">
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6" style="margin-bottom:50px;" singlebike>
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6" style="margin-bottom:50px;">
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6" style="margin-bottom:50px;">
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6" style="margin-bottom:50px;" singlebike>
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>


        </div>

      </div>

      <div style="text-align:center;" class="col-lg-12">
        <h1>Advertisment</h1>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-6" singlebike>
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6" singlebike>
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-6" singlebike>
            <div img>
              <img class="img-thumbnail img-responsive" style="width:200px; height:150px;" src="https://5.imimg.com/data5/IT/VJ/GLADMIN-9387618/unicorn-160-honda-bike-500x500.jpg"
                alt="Bike Image">
            </div>
            <div name>
              Honda Navi
            </div>
            <div price style="color:gray;">
              Rs. 48000 onwards
            </div>
            <div style="text-align:center;">
              <button>View More</button>
            </div>
          </div>
        </div>
        <h1>Advertisment</h1>


      </div>

      <div style="margin-top:50px;">
        <div style="text-align:center;" >
          <div style="display:inline;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/gxfmKRw1nrs" allowfullscreen ></iframe>
          </div>
          <div style="display:inline;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/gxfmKRw1nrs" allowfullscreen></iframe>
          </div>
          <div style="display:inline;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/gxfmKRw1nrs" allowfullscreen></iframe>
          </div>
          <div style="display:inline;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/gxfmKRw1nrs" allowfullscreen></iframe>
          </div>
          <div style="display:inline;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/gxfmKRw1nrs" allowfullscreen></iframe>
          </div>
          <div style="display:inline;">
            <iframe width="200" height="150" src="https://www.youtube.com/embed/gxfmKRw1nrs" allowfullscreen ></iframe>
          </div>
        </div>
        <div style="float: right;" >
          <button>Watch All Videos on YouTube</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs" style="background-color:gray; height:800px;" right sidebar>

    </div>
    <div Ads>

    </div>
  </div>
</div>