<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 nav1">
            <app-nav-bar></app-nav-bar>
        </div>


        <div class="col-md-10 right-perc">
            <app-left-nav-pannel></app-left-nav-pannel>

            <app-adds-area></app-adds-area>

            <app-biek-by-brand></app-biek-by-brand>

            <app-second-hand-biek></app-second-hand-biek>

            <!-- <app-second-hand-biek-by-city></app-second-hand-biek-by-city> -->

            <!-- <app-second-hand-biek-by-price></app-second-hand-biek-by-price> -->

            <app-featured-dealer></app-featured-dealer>

            <app-featured-used-biek></app-featured-used-biek>

            <app-compare-bikes></app-compare-bikes>

            <app-blogs></app-blogs>
         
            <app-footer></app-footer>
            
        </div>
    </div>

</div>

<!-- <app-single-new-bike></app-single-new-bike> -->
<!-- <app-one-company-all-bikes></app-one-company-all-bikes> -->

