<div class="row">
  <div class="col-md-2 col-sm-4">
    <app-nav-bar></app-nav-bar>

  </div>

  <div class="col-md-10">
    <div class="container">


      <div class="dFlex margin-top-40px">
        <div class="col-md-3 col-lg-4">

          <div class="card card-radius-remove">
            <ul class="list-style">
              <li class="img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </li>
              <li class="detail-style-promotion">
                <h3 class="bike-title-feature">Mini Trail bike for Teenagers</h3>

                <p class="bike-category">Motorcycle >> Suzuki </p>
                <p style="color: #b4b4b4;font-size: 12px">Lahore, McLeod Road</p>
                <p class="bike-price-feature">Rs 74,000</p>
              </li>
              <li class="dFlex pad0 h40">
                <span class="col-md-6 e">Favourite</span>
                <span class="col-md-6 e">Report</span>
              </li>
            </ul>
          </div>

        </div>




        <div class="col-md-3 col-lg-4">

          <div class="card card-radius-remove">
            <ul class="list-style">
              <li class="img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </li>
              <li class="detail-style-promotion">
                <h3 class="bike-title-feature">Mini Trail bike for Teenagers</h3>

                <p class="bike-category">Motorcycle >> Suzuki </p>
                <p style="color: #b4b4b4;font-size: 12px">Lahore, McLeod Road</p>
                <p class="bike-price-feature">Rs 74,000</p>
              </li>
              <li class="dFlex pad0 h40">
                <span class="col-md-6 e">Favourite</span>
                <span class="col-md-6 e">Report</span>
              </li>
            </ul>

          </div>

        </div>


        <div class="col-md-3 col-lg-4">

          <div class="card card-radius-remove">
            <ul class="list-style">
              <li class="img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </li>
              <li class="detail-style-promotion">
                <h3 class="bike-title-feature">Mini Trail bike for Teenagers</h3>

                <p class="bike-category">Motorcycle >> Suzuki </p>
                <p style="color: #b4b4b4;font-size: 12px">Lahore, McLeod Road</p>
                <p class="bike-price-feature">Rs 74,000</p>
              </li>
              <li class="dFlex pad0 h40">
                <span class="col-md-6 e">Favourite</span>
                <span class="col-md-6 e">Report</span>
              </li>
            </ul>
          </div>

        </div>

      </div>


      <div class="dFlex margin-top-40px">
        <div class="col-md-3 col-lg-4">

          <div class="card card-radius-remove">
            <ul class="list-style">
              <li class="img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </li>
              <li class="detail-style-promotion">
                <h3 class="bike-title-feature">Mini Trail bike for Teenagers</h3>

                <p class="bike-category">Motorcycle >> Suzuki </p>
                <p style="color: #b4b4b4;font-size: 12px">Lahore, McLeod Road</p>
                <p class="bike-price-feature">Rs 74,000</p>
              </li>
              <li class="dFlex pad0 h40">
                <span class="col-md-6 e">Favourite</span>
                <span class="col-md-6 e">Report</span>
              </li>
            </ul>
          </div>

        </div>




        <div class="col-md-3 col-lg-4">

          <div class="card card-radius-remove">
            <ul class="list-style">
              <li class="img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </li>
              <li class="detail-style-promotion">
                <h3 class="bike-title-feature">Mini Trail bike for Teenagers</h3>

                <p class="bike-category">Motorcycle >> Suzuki </p>
                <p style="color: #b4b4b4;font-size: 12px">Lahore, McLeod Road</p>
                <p class="bike-price-feature">Rs 74,000</p>
              </li>
              <li class="dFlex pad0 h40">
                <span class="col-md-6 e">Favourite</span>
                <span class="col-md-6 e">Report</span>
              </li>
            </ul>
          </div>

        </div>


        <div class="col-md-3 col-lg-4">

          <div class="card card-radius-remove">
            <ul class="list-style">
              <li class="img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </li>
              <li class="detail-style-promotion">
                <h3 class="bike-title-feature">Mini Trail bike for Teenagers</h3>

                <p class="bike-category">Motorcycle >> Suzuki </p>
                <p style="color: #b4b4b4;font-size: 12px">Lahore, McLeod Road</p>
                <p class="bike-price-feature">Rs 74,000</p>
              </li>
              <li class="dFlex pad0 h40">
                <span class="col-md-6 e">Favourite</span>
                <span class="col-md-6 e">Report</span>
              </li>
            </ul>
          </div>

        </div>

      </div>

      <app-adds-area></app-adds-area>

      <div class="card card-radius-remove margin-top-40px">
        <div class="card-body">
          <div class="row headerAlign">
            <p class="pdL5">Used Bikes in Pakistan</p>
            <div class="mrgR5">
              <button type="button" class="btn btn-info">Sell Your Bike</button>
            </div>

          </div>
        </div>
      </div>

      <div class="dFlex">
        <!-- <div class="card card-radius-remove"> -->
        <div class="col-md-4 mar-ped0">

          <div class="card card-radius-remove left-card-config">
            <select name="select" id="select" required class="form-control" formControlName="selectCategory">
              <option value="cellPhnones">City</option>
              <option value="computers">Computers</option>
              <option value="tablets">Tablets</option>

            </select>


            <select name="select" id="select" required class="form-control" formControlName="selectCategory">
              <option value="cellPhnones">Brand</option>
              <option value="computers">Computers</option>
              <option value="tablets">Tablets</option>

            </select>


            <select name="select" id="select" required class="form-control" formControlName="selectCategory">
              <option value="cellPhnones">Budget</option>
              <option value="computers">Computers</option>
              <option value="tablets">Tablets</option>

            </select>
          </div>

        </div>
        <div class="col-md-8 mar-ped0">





          <ul class="list-style">
            <li class="dFlex">
              <div class="col-md-6 img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-md-6">
                <h2 class="font-14">2012, Bajaj Pulsar 135 LS Standard</h2>
                <p class="card-detail-time">Updated on: 05 June 2018</p>
                <p class="card-details">2012 model</p>
                <p class="card-details">Karachi</p>
                <p class="card-details">Rs 25,000</p>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/bike-detai-view']">Get Seller Deatail</button>


              </div>
            </li>

            <li class="dFlex">
              <div class="col-md-6 img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-md-6">
                <h2 class="font-14">2012, Bajaj Pulsar 135 LS Standard</h2>
                <p class="card-detail-time">Updated on: 05 June 2018</p>
                <p class="card-details">2012 model</p>
                <p class="card-details">Karachi</p>
                <p class="card-details">Rs 25,000</p>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/bike-detai-view']">Get Seller Deatail</button>


              </div>
            </li>

            <li class="dFlex">
              <div class="col-md-6 img-card-height">
                <img src="../../../../assets/images/bike.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-md-6">
                <h2 class="font-14">2012, Bajaj Pulsar 135 LS Standard</h2>
                <p class="card-detail-time">Updated on: 05 June 2018</p>
                <p class="card-details">2012 model</p>
                <p class="card-details">Karachi</p>
                <p class="card-details">Rs 25,000</p>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/bike-detai-view']">Get Seller Deatail</button>


              </div>
            </li>
          </ul>


          <div class="card card-radius-remove">
            <div class="card-body">
              <div class="row headerAlign">
                <p class="pdL5">Showing 1-20 of 8,089 bikes</p>
                <div class="mrgR5">
                  <select name="select" id="select" required class="form-control wd150px" formControlName="selectCategory">
                    <option value="cellPhnones">Most Recent</option>
                    <option value="computers">Computers</option>
                    <option value="tablets">Tablets</option>

                  </select>
                </div>

              </div>
            </div>
          </div>

        </div>
        <!-- </div> -->
      </div>

    </div>
  </div>
</div>