<h2 class="heading">Blogs</h2>
<div class="card crd-top-padding">
 
  <div class="container">
    <div class="row u-marginTop15 u-marginLeftNegative12 u-marginRightNegative12">
      
      <div class="col u-xs-size12of12 js-trackedPost u-paddingLeft12 u-marginBottom15 u-paddingRight12 u-size4of12" data-source="collection_home---4------1----------------"
        data-post-id="cc56b0efa7a4" data-index="1" data-scroll="native">
        <div class="u-lineHeightBase postItem">
          <a href="https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4?source=collection_home---4------1----------------"
            data-action="open-post" data-action-value="https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4?source=collection_home---4------1----------------"
            class="u-block u-xs-height170 u-height172 u-backgroundSizeCover u-backgroundOriginBorderBox u-backgroundColorGrayLight u-borderLighter"
            style="background-image: url(&quot;https://cdn-images-1.medium.com/max/800/1*V3Kfghg_jIV0ubxmAnCXBA.jpeg&quot;); background-position: 50% 50% !important;">
            <span class="u-textScreenReader">Version 6 of Angular Now Available</span>
          </a>
        </div>
        <div class="col u-xs-marginBottom10 u-paddingLeft0 u-paddingRight0 u-paddingTop15 u-marginBottom30">
          <a class="" href="https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4?source=collection_home---4------1----------------"
            data-action-source="collection_home---4------1----------------" data-post-id="cc56b0efa7a4">
            <h3 class="u-contentSansBold u-lineHeightTightest u-xs-fontSize24 u-paddingBottom2 u-paddingTop5 u-fontSize32">
              <div class="u-letterSpacingTight u-lineHeightTighter u-fontSize24">Version 6 of Angular Now Available</div>
            </h3>
            <div class="u-contentSansThin u-lineHeightBaseSans u-fontSize24 u-xs-fontSize18 u-textColorNormal u-baseColor--textNormal">
              <div class="u-fontSize18 u-letterSpacingTight u-lineHeightTight u-marginTop7 u-textColorNormal u-baseColor--textNormal">The 6.0.0 release of Angular is here! This is a major release focused less on the underlying framework, and
                more on the toolchain and&nbsp;on…</div>
            </div>
          </a>
          <div class="u-clearfix u-marginTop20">
            <div class="u-flexCenter">
              <div class="postMetaInline-avatar u-flex0">
                <a class="link u-baseColor--link avatar" href="https://blog.angular.io/@stephenfluin" data-action="show-user-card" data-action-value="a1fba6cea10f"
                  data-action-type="hover" data-user-id="a1fba6cea10f" data-collection-slug="angular-blog" dir="auto">
                  <img src="https://cdn-images-1.medium.com/fit/c/72/72/1*y_L34o3bW0QELQm1KOFMTw.jpeg" class="avatar-image u-size36x36 u-xs-size32x32"
                    alt="Go to the profile of Farrukh Azeem">
                </a>
              </div>
              <div class="postMetaInline postMetaInline-authorLockup ui-captionStrong u-flex1 u-noWrapWithEllipsis">
                <a class="ds-link ds-link--styleSubtle link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken"
                  href="https://blog.angular.io/@stephenfluin" data-action="show-user-card" data-action-value="a1fba6cea10f"
                  data-action-type="hover" data-user-id="a1fba6cea10f" data-collection-slug="angular-blog" dir="auto">Farrukh Azeem</a>
                <div class="ui-caption u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
                  <time datetime="2018-05-03T22:04:36.309Z">Jun 3</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col u-xs-size12of12 js-trackedPost u-paddingLeft12 u-marginBottom15 u-paddingRight12 u-size4of12" data-source="collection_home---4------2----------------"
        data-post-id="1e8654053205" data-index="2" data-scroll="native">
        <div class="u-lineHeightBase postItem">
          <a href="https://blog.angular.io/trip-report-from-ng-conf-2018-1e8654053205?source=collection_home---4------2----------------"
            data-action="open-post" data-action-value="https://blog.angular.io/trip-report-from-ng-conf-2018-1e8654053205?source=collection_home---4------2----------------"
            class="u-block u-xs-height170 u-height172 u-backgroundSizeCover u-backgroundOriginBorderBox u-backgroundColorGrayLight u-borderLighter"
            style="background-image: url(&quot;https://cdn-images-1.medium.com/max/800/1*pRDcMwidr9b2K9FIGfe6Xw.png&quot;); background-position: 50% 50% !important;">
            <span class="u-textScreenReader">Trip report from ng-conf 2018</span>
          </a>
        </div>
        <div class="col u-xs-marginBottom10 u-paddingLeft0 u-paddingRight0 u-paddingTop15 u-marginBottom30">
          <a class="" href="https://blog.angular.io/trip-report-from-ng-conf-2018-1e8654053205?source=collection_home---4------2----------------"
            data-action-source="collection_home---4------2----------------" data-post-id="1e8654053205">
            <h3 class="u-contentSansBold u-lineHeightTightest u-xs-fontSize24 u-paddingBottom2 u-paddingTop5 u-fontSize32">
              <div class="u-letterSpacingTight u-lineHeightTighter u-fontSize24">Trip report from ng-conf&nbsp;2018</div>
            </h3>
            <div class="u-contentSansThin u-lineHeightBaseSans u-fontSize24 u-xs-fontSize18 u-textColorNormal u-baseColor--textNormal">
              <div class="u-fontSize18 u-letterSpacingTight u-lineHeightTight u-marginTop7 u-textColorNormal u-baseColor--textNormal">A few of the Angular team members were able to attend and present at ng-conf this year. We owe a huge thank
                you to the organizers for…</div>
            </div>
          </a>
          <div class="u-clearfix u-marginTop20">
            <div class="u-flexCenter">
              <div class="postMetaInline-avatar u-flex0">
                <a class="link u-baseColor--link avatar" href="https://blog.angular.io/@stephenfluin" data-action="show-user-card" data-action-value="a1fba6cea10f"
                  data-action-type="hover" data-user-id="a1fba6cea10f" data-collection-slug="angular-blog" dir="auto">
                  <img src="https://cdn-images-1.medium.com/fit/c/72/72/1*y_L34o3bW0QELQm1KOFMTw.jpeg" class="avatar-image u-size36x36 u-xs-size32x32"
                    alt="Go to the profile of Farrukh Azeem">
                </a>
              </div>
              <div class="postMetaInline postMetaInline-authorLockup ui-captionStrong u-flex1 u-noWrapWithEllipsis">
                <a class="ds-link ds-link--styleSubtle link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken"
                  href="https://blog.angular.io/@stephenfluin" data-action="show-user-card" data-action-value="a1fba6cea10f"
                  data-action-type="hover" data-user-id="a1fba6cea10f" data-collection-slug="angular-blog" dir="auto">Farrukh Azeem</a>
                <div class="ui-caption u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
                  <time datetime="2018-04-30T17:07:36.791Z">Jun 22</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col u-xs-size12of12 js-trackedPost u-paddingLeft12 u-marginBottom15 u-paddingRight12 u-size4of12" data-source="collection_home---4------3----------------"
        data-post-id="dd367de32122" data-index="3" data-scroll="native">
        <div class="u-lineHeightBase postItem">
          <a href="https://blog.angular.io/top-3-things-charter-learned-about-reusable-designs-and-components-dd367de32122?source=collection_home---4------3----------------"
            data-action="open-post" data-action-value="https://blog.angular.io/top-3-things-charter-learned-about-reusable-designs-and-components-dd367de32122?source=collection_home---4------3----------------"
            class="u-block u-xs-height170 u-height172 u-backgroundSizeCover u-backgroundOriginBorderBox u-backgroundColorGrayLight u-borderLighter"
            style="background-image: url(&quot;https://cdn-images-1.medium.com/max/800/0*b2NgEK3hFqecl0A1.&quot;); background-position: 50% 50% !important;">
            <span class="u-textScreenReader">Top 3 Things Charter Learned About Reusable Designs and Components</span>
          </a>
        </div>
        <div class="col u-xs-marginBottom10 u-paddingLeft0 u-paddingRight0 u-paddingTop15 u-marginBottom30">
          <a class="" href="https://blog.angular.io/top-3-things-charter-learned-about-reusable-designs-and-components-dd367de32122?source=collection_home---4------3----------------"
            data-action-source="collection_home---4------3----------------" data-post-id="dd367de32122">
            <h3 class="u-contentSansBold u-lineHeightTightest u-xs-fontSize24 u-paddingBottom2 u-paddingTop5 u-fontSize32">
              <div class="u-letterSpacingTight u-lineHeightTighter u-fontSize24">Top 3 Things Charter Learned About Reusable Designs and Components</div>
            </h3>
            <div class="u-contentSansThin u-lineHeightBaseSans u-fontSize24 u-xs-fontSize18 u-textColorNormal u-baseColor--textNormal">
              <div class="u-fontSize18 u-letterSpacingTight u-lineHeightTight u-marginTop7 u-textColorNormal u-baseColor--textNormal">This is a guest post by Geoffrey Cullins, Director, App Development at Charter Communications.</div>
            </div>
          </a>
          <div class="u-clearfix u-marginTop20">
            <div class="u-flexCenter">
              <div class="postMetaInline-avatar u-flex0">
                <a class="link u-baseColor--link avatar" href="https://blog.angular.io/@geoffreycullins" data-action="show-user-card" data-action-value="c819ef8238ce"
                  data-action-type="hover" data-user-id="c819ef8238ce" data-collection-slug="angular-blog" dir="auto">
                  <img src="https://cdn-images-1.medium.com/fit/c/72/72/1*dW24gcbOUc4FajxMfi0q5w.jpeg" class="avatar-image u-size36x36 u-xs-size32x32"
                    alt="Go to the profile of Taimoor Tariq">
                </a>
              </div>
              <div class="postMetaInline postMetaInline-authorLockup ui-captionStrong u-flex1 u-noWrapWithEllipsis">
                <a class="ds-link ds-link--styleSubtle link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken"
                  href="https://blog.angular.io/@geoffreycullins" data-action="show-user-card" data-action-value="c819ef8238ce"
                  data-action-type="hover" data-user-id="c819ef8238ce" data-collection-slug="angular-blog" dir="auto">Taimoor Tariq</a>
                <div class="ui-caption u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
                  <time datetime="2018-04-13T21:10:57.444Z">Jun 13</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row u-marginTop15 u-marginLeftNegative12 u-marginRightNegative12">
        <div class="col u-xs-size12of12 js-trackedPost u-paddingLeft12 u-marginBottom15 u-paddingRight12 u-size4of12" data-source="collection_home---4------4----------------"
          data-post-id="b6c8bae85417" data-index="4" data-scroll="native">
          <div class="u-lineHeightBase postItem">
            <a href="https://blog.angular.io/trip-report-from-ngatlanta-angulars-roadmap-inclusion-and-more-b6c8bae85417?source=collection_home---4------4----------------"
              data-action="open-post" data-action-value="https://blog.angular.io/trip-report-from-ngatlanta-angulars-roadmap-inclusion-and-more-b6c8bae85417?source=collection_home---4------4----------------"
              class="u-block u-xs-height170 u-height172 u-backgroundSizeCover u-backgroundOriginBorderBox u-backgroundColorGrayLight u-borderLighter"
              style="background-image: url(&quot;https://cdn-images-1.medium.com/max/800/1*1xXgj8sqRdLDqOLOsoZnxA.jpeg&quot;); background-position: 50% 50% !important;">
              <span class="u-textScreenReader">Angular’s Roadmap, Inclusion, and more</span>
            </a>
          </div>
          <div class="col u-xs-marginBottom10 u-paddingLeft0 u-paddingRight0 u-paddingTop15 u-marginBottom30">
            <a class="" href="https://blog.angular.io/trip-report-from-ngatlanta-angulars-roadmap-inclusion-and-more-b6c8bae85417?source=collection_home---4------4----------------"
              data-action-source="collection_home---4------4----------------" data-post-id="b6c8bae85417">
              <h3 class="u-contentSansBold u-lineHeightTightest u-xs-fontSize24 u-paddingBottom2 u-paddingTop5 u-fontSize32">
                <div class="u-letterSpacingTight u-lineHeightTighter u-fontSize24">Trip report from ngAtlanta: Angular’s Roadmap, Inclusion, and&nbsp;more</div>
              </h3>
              <div class="u-contentSansThin u-lineHeightBaseSans u-fontSize24 u-xs-fontSize18 u-textColorNormal u-baseColor--textNormal">
                <div class="u-fontSize18 u-letterSpacingTight u-lineHeightTight u-marginTop7 u-textColorNormal u-baseColor--textNormal">Last month I had the opportunity to speak at the ngAtlanta conference where I covered major parts of Angular’s
                  2018 roadmap and shared&nbsp;what…</div>
              </div>
            </a>
            <div class="u-clearfix u-marginTop20">
              <div class="u-flexCenter">
                <div class="postMetaInline-avatar u-flex0">
                  <a class="link u-baseColor--link avatar" href="https://blog.angular.io/@bradgreen" data-action="show-user-card"
                    data-action-value="5dab693a33f5" data-action-type="hover" data-user-id="5dab693a33f5" data-collection-slug="angular-blog"
                    dir="auto">
                    <img src="https://cdn-images-1.medium.com/fit/c/72/72/0*YmVb-s-hiC1uKLlA.jpg" class="avatar-image u-size36x36 u-xs-size32x32"
                      alt="Go to the profile of Brad Green">
                  </a>
                </div>
                <div class="postMetaInline postMetaInline-authorLockup ui-captionStrong u-flex1 u-noWrapWithEllipsis">
                  <a class="ds-link ds-link--styleSubtle link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken"
                    href="https://blog.angular.io/@bradgreen" data-action="show-user-card" data-action-value="5dab693a33f5"
                    data-action-type="hover" data-user-id="5dab693a33f5" data-collection-slug="angular-blog" dir="auto">Mohsin Ghani</a>
                  <div class="ui-caption u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
                    <time datetime="2018-02-22T19:17:11.470Z">Jun 22</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col u-xs-size12of12 js-trackedPost u-paddingLeft12 u-marginBottom15 u-paddingRight12 u-size4of12" data-source="collection_home---4------5----------------"
          data-post-id="41332fd80901" data-index="5" data-scroll="native">
          <div class="u-lineHeightBase postItem">
            <a href="https://blog.angular.io/run-angular-cli-repos-directly-in-your-browser-41332fd80901?source=collection_home---4------5----------------"
              data-action="open-post" data-action-value="https://blog.angular.io/run-angular-cli-repos-directly-in-your-browser-41332fd80901?source=collection_home---4------5----------------"
              class="u-block u-xs-height170 u-height172 u-backgroundSizeCover u-backgroundOriginBorderBox u-backgroundColorGrayLight u-borderLighter"
              style="background-image: url(&quot;https://cdn-images-1.medium.com/max/800/1*OQnI9H2upJP177PvSXVe4g.gif&quot;); background-position: 50% 50% !important;">
              <span class="u-textScreenReader">Run Angular CLI repos directly in your browser</span>
            </a>
          </div>
          <div class="col u-xs-marginBottom10 u-paddingLeft0 u-paddingRight0 u-paddingTop15 u-marginBottom30">
            <a class="" href="https://blog.angular.io/run-angular-cli-repos-directly-in-your-browser-41332fd80901?source=collection_home---4------5----------------"
              data-action-source="collection_home---4------5----------------" data-post-id="41332fd80901">
              <h3 class="u-contentSansBold u-lineHeightTightest u-xs-fontSize24 u-paddingBottom2 u-paddingTop5 u-fontSize32">
                <div class="u-letterSpacingTight u-lineHeightTighter u-fontSize24">Run Angular CLI repos directly in your&nbsp;browser</div>
              </h3>
              <div class="u-contentSansThin u-lineHeightBaseSans u-fontSize24 u-xs-fontSize18 u-textColorNormal u-baseColor--textNormal">
                <div class="u-fontSize18 u-letterSpacingTight u-lineHeightTight u-marginTop7 u-textColorNormal u-baseColor--textNormal">Github is the source of truth for most Angular demos, examples, prototypes, and “real world” projects. However,
                  downloading &amp; initializing…</div>
              </div>
            </a>
            <div class="u-clearfix u-marginTop20">
              <div class="u-flexCenter">
                <div class="postMetaInline-avatar u-flex0">
                  <a class="link u-baseColor--link avatar" href="https://blog.angular.io/@ericsimons" data-action="show-user-card"
                    data-action-value="d63fefe55e24" data-action-type="hover" data-user-id="d63fefe55e24" data-collection-slug="angular-blog"
                    dir="auto">
                    <img src="https://cdn-images-1.medium.com/fit/c/72/72/1*XcxkbrCpvmqUYCt6yb89MA.jpeg" class="avatar-image u-size36x36 u-xs-size32x32"
                      alt="Go to the profile of Naveed Aheer">
                  </a>
                </div>
                <div class="postMetaInline postMetaInline-authorLockup ui-captionStrong u-flex1 u-noWrapWithEllipsis">
                  <a class="ds-link ds-link--styleSubtle link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken"
                    href="https://blog.angular.io/@ericsimons" data-action="show-user-card" data-action-value="d63fefe55e24"
                    data-action-type="hover" data-user-id="d63fefe55e24" data-collection-slug="angular-blog" dir="auto">Naveed Aheer</a>
                  <div class="ui-caption u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
                    <time datetime="2018-02-09T19:59:56.790Z">Jun 5</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col u-xs-size12of12 js-trackedPost u-paddingLeft12 u-marginBottom15 u-paddingRight12 u-size4of12" data-source="collection_home---4------6----------------"
          data-post-id="6842352b3b47" data-index="6" data-scroll="native">
          <div class="u-lineHeightBase postItem">
            <a href="https://blog.angular.io/file-uploads-come-to-angularfire-6842352b3b47?source=collection_home---4------6----------------"
              data-action="open-post" data-action-value="https://blog.angular.io/file-uploads-come-to-angularfire-6842352b3b47?source=collection_home---4------6----------------"
              class="u-block u-xs-height170 u-height172 u-backgroundSizeCover u-backgroundOriginBorderBox u-backgroundColorGrayLight u-borderLighter"
              style="background-image: url(&quot;https://cdn-images-1.medium.com/max/800/1*Q7TzUZZ9bOZO7rQsbc6IGg.png&quot;); background-position: 50% 50% !important;">
              <span class="u-textScreenReader">File uploads come to AngularFire</span>
            </a>
          </div>
          <div class="col u-xs-marginBottom10 u-paddingLeft0 u-paddingRight0 u-paddingTop15 u-marginBottom30">
            <a class="" href="https://blog.angular.io/file-uploads-come-to-angularfire-6842352b3b47?source=collection_home---4------6----------------"
              data-action-source="collection_home---4------6----------------" data-post-id="6842352b3b47">
              <h3 class="u-contentSansBold u-lineHeightTightest u-xs-fontSize24 u-paddingBottom2 u-paddingTop5 u-fontSize32">
                <div class="u-letterSpacingTight u-lineHeightTighter u-fontSize24">File uploads come to AngularFire</div>
              </h3>
              <div class="u-contentSansThin u-lineHeightBaseSans u-fontSize24 u-xs-fontSize18 u-textColorNormal u-baseColor--textNormal">
                <div class="u-fontSize18 u-letterSpacingTight u-lineHeightTight u-marginTop7 u-textColorNormal u-baseColor--textNormal">Cloud Storage for Firebase is a serverless way to upload and download binary files straight from the browser.
                  As of today, it’s officially…</div>
              </div>
            </a>
            <div class="u-clearfix u-marginTop20">
              <div class="u-flexCenter">
                <div class="postMetaInline-avatar u-flex0">
                  <a class="link u-baseColor--link avatar" href="https://blog.angular.io/@davideast" data-action="show-user-card"
                    data-action-value="c37eed0fd693" data-action-type="hover" data-user-id="c37eed0fd693" data-collection-slug="angular-blog"
                    dir="auto">
                    <img src="https://cdn-images-1.medium.com/fit/c/72/72/1*1z0d0Y2THJXCtwAIP7tslQ.jpeg" class="avatar-image u-size36x36 u-xs-size32x32"
                      alt="Go to the profile of Fareed Saeed">
                  </a>
                </div>
                <div class="postMetaInline postMetaInline-authorLockup ui-captionStrong u-flex1 u-noWrapWithEllipsis">
                  <a class="ds-link ds-link--styleSubtle link link--darken link--accent u-accentColor--textNormal u-accentColor--textDarken"
                    href="https://blog.angular.io/@davideast" data-action="show-user-card" data-action-value="c37eed0fd693"
                    data-action-type="hover" data-user-id="c37eed0fd693" data-collection-slug="angular-blog" dir="auto">Fareed Saeed</a>
                  <div class="ui-caption u-fontSize12 u-baseColor--textNormal u-textColorNormal js-postMetaInlineSupplemental">
                    <time datetime="2018-02-02T15:25:37.906Z">Jun 2</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-center">
    <button class="btn btn-outline-info button-align" type="button">View more blogs</button>
  </div>
    </div>
  </div>
