<div class="container">

  <div class="content-center">
    <div style="border: 0px" class="card card-top-padding">
      <div  class="card-body">
        <h2>Find your biek by brand</h2>
      </div>
    </div>
  </div>

  <div class="content-center">
    <div style="padding-bottom: 25px" class="card card-top-padding">

      <div class="row">
        <div class="col">
          <div class="card img-card">
            <li>
              <div class="review-card__winner">
                <span class="vertical-ribbon bg-color--teal trophy-teal-10x12"></span>
                <span class="winner-tag__label"></span>
              </div>
              <span class="review-card__author-circle"></span>
              <p class="review-card__author">Prasad Gawali</p>
              <span class="rating-badge" data-rate-bg="4">
                <span class="bwsprite star-white"></span>"4" </span>
              <p class="review-card__bike text-truncate" title="Bajaj CT100">Bajaj CT100</p>
              <p class="review-card__desc">The bike was easily available without any waiting period. It...</p>
              <p class="review-card__date">1 week ago</p>
              <span data-url="/bajaj-bikes/ct100/reviews/51957/" title="Bajaj CT100 Review by Prasad Gawali" class="article-target-read-more redirect-url">Read full review</span>
            </li>
          </div>


        </div>
        <div class="col d-none d-xl-block d-lg-block d-md-block">

          <div class="card img-card">
            <li>
              <div class="review-card__winner">
                <!-- <span class="vertical-ribbon bg-color--teal trophy-teal-10x12"></span> -->
                <!-- <span class="winner-tag__label"></span> -->
              </div>
              <span class="review-card__author-circle"></span>
              <p class="review-card__author">Prasad Gawali</p>
              <span class="rating-badge" data-rate-bg="4">
                <span class="bwsprite star-white"></span>"4" </span>
              <p class="review-card__bike text-truncate" title="Bajaj CT100">Bajaj CT100</p>
              <p class="review-card__desc">The bike was easily available without any waiting period. It...</p>
              <p class="review-card__date">1 week ago</p>
              <span data-url="/bajaj-bikes/ct100/reviews/51957/" title="Bajaj CT100 Review by Prasad Gawali" class="article-target-read-more redirect-url">Read full review</span>
            </li>
          </div>
          <!-- <div class="card text-card">
            <p>text</p>
          </div> -->


        </div>
        <div class="col d-none d-xl-block d-lg-block">

          <div class="card img-card">
            <li>
              <div class="review-card__winner">
                <!-- <span class="vertical-ribbon bg-color--teal trophy-teal-10x12"></span> -->
                <!-- <span class="winner-tag__label"></span> -->
              </div>
              <span class="review-card__author-circle"></span>
              <p class="review-card__author">Prasad Gawali</p>
              <span class="rating-badge" data-rate-bg="4">
                <span class="bwsprite star-white"></span>"4" </span>
              <p class="review-card__bike text-truncate" title="Bajaj CT100">Bajaj CT100</p>
              <p class="review-card__desc">The bike was easily available without any waiting period. It...</p>
              <p class="review-card__date">1 week ago</p>
              <span data-url="/bajaj-bikes/ct100/reviews/51957/" title="Bajaj CT100 Review by Prasad Gawali" class="article-target-read-more redirect-url">Read full review</span>
            </li>
          </div>




        </div>
      </div>
    <!-- </div> -->

  </div>
</div>


<div class="content-center">
  <div style="padding-bottom: 25px" class="card card-top-padding">

    <div class="row">
      <div class="col">
        <div class="card img-card">
          <li>
            <div class="review-card__winner">
              <span class="vertical-ribbon bg-color--teal trophy-teal-10x12"></span>
              <span class="winner-tag__label"></span>
            </div>
            <span class="review-card__author-circle"></span>
            <p class="review-card__author">Prasad Gawali</p>
            <span class="rating-badge" data-rate-bg="4">
              <span class="bwsprite star-white"></span>"4" </span>
            <p class="review-card__bike text-truncate" title="Bajaj CT100">Bajaj CT100</p>
            <p class="review-card__desc">The bike was easily available without any waiting period. It...</p>
            <p class="review-card__date">1 week ago</p>
            <span data-url="/bajaj-bikes/ct100/reviews/51957/" title="Bajaj CT100 Review by Prasad Gawali" class="article-target-read-more redirect-url">Read full review</span>
          </li>
        </div>


      </div>
      <div class="col d-none d-xl-block d-lg-block d-md-block">

        <div class="card img-card">
          <li>
            <div class="review-card__winner">
              <!-- <span class="vertical-ribbon bg-color--teal trophy-teal-10x12"></span> -->
              <!-- <span class="winner-tag__label"></span> -->
            </div>
            <span class="review-card__author-circle"></span>
            <p class="review-card__author">Prasad Gawali</p>
            <span class="rating-badge" data-rate-bg="4">
              <span class="bwsprite star-white"></span>"4" </span>
            <p class="review-card__bike text-truncate" title="Bajaj CT100">Bajaj CT100</p>
            <p class="review-card__desc">The bike was easily available without any waiting period. It...</p>
            <p class="review-card__date">1 week ago</p>
            <span data-url="/bajaj-bikes/ct100/reviews/51957/" title="Bajaj CT100 Review by Prasad Gawali" class="article-target-read-more redirect-url">Read full review</span>
          </li>
        </div>
        <!-- <div class="card text-card">
          <p>text</p>
        </div> -->


      </div>
      <div class="col d-none d-xl-block d-lg-block">

        <div class="card img-card">
          <li>
            <div class="review-card__winner">
              <!-- <span class="vertical-ribbon bg-color--teal trophy-teal-10x12"></span> -->
              <!-- <span class="winner-tag__label"></span> -->
            </div>
            <span class="review-card__author-circle"></span>
            <p class="review-card__author">Prasad Gawali</p>
            <span class="rating-badge" data-rate-bg="4">
              <span class="bwsprite star-white"></span>"4" </span>
            <p class="review-card__bike text-truncate" title="Bajaj CT100">Bajaj CT100</p>
            <p class="review-card__desc">The bike was easily available without any waiting period. It...</p>
            <p class="review-card__date">1 week ago</p>
            <span data-url="/bajaj-bikes/ct100/reviews/51957/" title="Bajaj CT100 Review by Prasad Gawali" class="article-target-read-more redirect-url">Read full review</span>
          </li>
        </div>




      </div>
    </div>
  <!-- </div> -->

</div>
</div>







</div>

