<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-nav-bar></app-nav-bar>

        </div>
        <div class="col-md-10">

            <h2 class="heading">Select Brand Of New Bike</h2>

            <div class="row pageBackground">



                <div class="col-md-10 centerAll">


                    <ul class="list-unstyled pricelist-box mb30 row">
                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>

                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/046/resized/bml.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BML
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache1.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/024/resized/bike-logos_bmw.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BMW
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>

                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>

                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/046/resized/bml.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BML
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache1.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/024/resized/bike-logos_bmw.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BMW
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>

                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/046/resized/bml.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BML
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache1.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/024/resized/bike-logos_bmw.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BMW
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>

                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>

                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/046/resized/bml.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BML
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache1.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/024/resized/bike-logos_bmw.png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                BMW
                            </div>

                        </li>


                        <li class="col-md-3 mb20" [routerLink]="['/bikeofbrand']">

                            <div class="logo">
                                <img alt="Benelli Prices" src="https://cache3.pakwheels.com/system/bike_manufacturers/manufacturers/000/000/027/resized/Benelli_Logo_(1).png"
                                    title="Benelli Prices">
                            </div>
                            <div class="car-name">
                                Benelli
                            </div>

                        </li>



                    </ul>
                </div>


            </div>

        </div>
    </div>
</div>