<div class="container">

    <div class="content-center">
      <div style="border: 0px" class="card card-top-padding">
        <div  class="card-body">
          <h2>Find your biek by brand</h2>
        </div>
      </div>
    </div>





    <div  class="content-center">
      <div  style="border-bottom: 2px solid black" class="card secend-card-top-padding" style="padding-bottom: 25px">

        <div class="row card2" style="padding-bottom: 25px">



          <div class="col">
            <div style="padding-bottom: 25px" class="card img-card">
              <div class="row">
                <div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 col-xs-5">
                  <div  class="model-img-content" >
                    <img class="lazy" alt="KTM RC390" title="KTM RC390" data-original="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70"
                      src="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70" style="display: inline;">
                  </div>
                  <h3 class="font15 text-truncate">KTM RC390</h3>
                  <p class="comp-b-loca"> Ex-showroom, Mumbai</p>
                  <p class="comp-b-price"> Rs 2,05,000</p>

                </div>
                <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-xs-1">vs</div>
                <div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 col-xs-5">
                  <div class="model-img-content" >
                    <img class="lazy" alt="KTM RC390" title="KTM RC390" data-original="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70"
                      src="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70" style="display: inline;">
                  </div>
                  <h3 class="font15 text-truncate">KTM RC390</h3>
                  <p class="comp-b-loca"> Ex-showroom, Mumbai</p>
                  <p class="comp-b-price"> Rs 2,05,000</p>

                </div>
              </div>

              <button type="button" class="btn btn-outline-danger button-align">Compare now</button>
            </div>


          </div>


          <div class="col d-none d-xl-block d-lg-block">
            <div style="padding-bottom: 25px" class="card img-card">
              <div class="row">
                <div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 col-xs-5">
                  <div class="model-img-content" >
                    <img class="lazy" alt="KTM RC390" title="KTM RC390" data-original="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70"
                      src="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70" style="display: inline;">
                  </div>
                  <h3 class="font15 text-truncate">KTM RC390</h3>
                  <p class="comp-b-loca"> Ex-showroom, Mumbai</p>
                  <p class="comp-b-price"> Rs 2,05,000</p>

                </div>
                <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 col-xs-1">vs</div>
                <div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 col-xs-5">
                  <div class="model-img-content" >
                    <img class="lazy" alt="KTM RC390" title="KTM RC390" data-original="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70"
                      src="https://imgd.aeplcdn.com/210x118/bw/models/ktm-rc390-2017.jpg?20171801182615&amp;q=70" style="display: inline;">
                  </div>
                  <h3 class="font15 text-truncate">KTM RC390</h3>
                  <p class="comp-b-loca"> Ex-showroom, Mumbai</p>
                  <p class="comp-b-price"> Rs 2,05,000</p>

                </div>
              </div>

              <button type="button" class="btn btn-outline-danger button-align">Compare now</button>
            </div>



          </div>

        </div>
        <button type="button" class="btn btn-outline-info button-align">View more comparisions</button>

      </div>

    </div>

</div>
