<div class="container">
  <div class="">
    <div class="big-cat row1">
      <ul class="list-group left-box col-md-3">
        <li class="list-group-item main-category">Power Tools</li>
        <li class="list-group-item" [routerLink]="['/product-category']">Power Tools</li>
        <li class="list-group-item">Heat Guns</li>
        <li class="list-group-item">Heat Guns</li>
        <li class="list-group-item">Heat Guns</li>
        <li class="list-group-item">Heat Guns</li>

      </ul>
      
      <div class="col-md-4">

        <div id="carouselExampleIndicators1" class="carousel3c slide" data-ride="carousel" style="height: 424px">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="//img.tolexokit.com/media/downloadable/Largest-assortment.gif" alt="First slide" height="420px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../../assets/images/bike.jpg" alt="Second slide" height="420px">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../../assets/images/bike.jpg" alt="Third slide" height="420px">
            </div>
          </div>
          <a class="carousel-control-prev prev3"  role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next next3"  role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>



       

        <!-- /carousel -->


      </div>
      <div class="col-md-5">
        <div style="display: flex;">
          <div class="col-md-6 box" style="background-color: #fff;border: 1px solid #eee;width:200px;flex-direction: column">
            <div class="ribbon">
              <span>POPULAR</span>
            </div>
            <img src="../../../../assets/images/1.png" alt="" width="150px" height="150px" style="position: relative;left: 14px;">
            <div class="prod-desc"> FERM TDM1025 Bench Pillar Drill 13 mm, 350 W, 580-2650 RPM</div>
            <p class="standard-price">Rs.1800/=</p>
          </div>

          <div class="col-md-6" style="background-color: #fff;border: 1px solid #eee;width:200px;flex-direction: column;position: relative;left: 7px;">
            <div class="ribbon">
              <span>POPULAR</span>
            </div>
            <img src="../../../../assets/images/1.png" alt="" width="150px" height="150px" style="position: relative;left: 14px;">
            <div class="prod-desc"> FERM TDM1025 Bench Pillar Drill 13 mm, 350 W, 580-2650 RPM</div>
            <p class="standard-price">Rs.1800/=</p>

          </div>

        </div>
        <div style="display: flex;margin-top: 4px;">
          <div class="col-md-6 box" style="background-color: #fff;border: 1px solid #eee;width:200px;flex-direction: column">
            <div class="ribbon">
              <span>POPULAR</span>
            </div>
            <img src="../../../../assets/images/1.png" alt="" width="150px" height="150px" style="position: relative;left: 14px;">
            <div class="prod-desc"> FERM TDM1025 Bench Pillar Drill 13 mm, 350 W, 580-2650 RPM</div>
            <p class="standard-price">Rs.1800/=</p>
          </div>

          <div class="col-md-6" style="background-color: #fff;border: 1px solid #eee;width:200px;flex-direction: column;position: relative;left: 7px;">
            <div class="ribbon">
              <span>POPULAR</span>
            </div>
            <img src="../../../../assets/images/1.png" alt="" width="150px" height="150px" style="position: relative;left: 14px;">
            <div class="prod-desc"> FERM TDM1025 Bench Pillar Drill 13 mm, 350 W, 580-2650 RPM</div>
            <p class="standard-price">Rs.1800/=</p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="width:50%;">
    <div style="background-color: #fff;border: 1px solid #eee;width:200px;display: flex;justify-content: center" class="col">
      <p class="discount ribbon">28% OFF </p>
      <img width="135px" height="150px" src="../../../../assets/images/1.png" alt="">
    </div>
    <span class="prod-desc">FERM TDM1025 Bench Pillar Drill 13 mm, 350 W, 580-2650 RPM</span>

  </div>

  <div class="width:50%;">
    <div style="background-color: #fff;border: 1px solid #eee;width:200px;">
      <img style="padding-left: 50px;
      padding-right: 0px;
      margin-right: 50px;" width="135px" height="150px" src="../../../../assets/images/1.png" alt="">
    </div>

  </div> -->