<div class="container">
  <div class="content-center">
    <div style="border: 0px" class="card card-top-padding">
      <div  class="card-body">
        <h2>Find your biek by brand</h2>
      </div>
    </div>
  </div>
  <!-- <div style="width: 95%;position: relative;left: 18px;"> -->
    <div class="content-center">
    <!-- <div class="card Secondcard-top-padding"> -->
    <!-- <div class="card-body"> -->
      <div class="card card-top-padding" style="margin-top: 0px">
        <div class="card-body">
    <!-- <div class="row" style="margin: 0 auto;text-align: center;width: 92%;position: relative;left: 0.8%;border: 1px solid lightgrey;padding: 20px"> -->
      <div style="width: 100%" class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!--  <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->

        <!-- <div class="w-100 padding-top-img style="margin:10px 10px" class="""></div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->
        <!-- <div class="col"> -->
        <img style="margin:10px 10px" class="" src="../../../assets/images/1.png" alt="" width="100px">
        <!-- </div> -->

        <!-- </div> -->

        <!-- </div> -->
      </div>
      <button type="button" class="btn btn-outline-primary button-top-margin" style="margin: auto;margin-top: 2%;width: 200px;">Primary</button>
    </div>
    </div></div>
  </div>