.card-top-padding {
    /* margin-top: 5%; */
    width: 87%;
    text-align: center;
    /* height: 50px; */
    border-radius: unset;
}

.content-center {
    display: flex;
    justify-content: center;
}

.secend-card-top-padding {
    width: 87%;
    text-align: center;
    height: 450px;
    border-radius: unset;
}


.card1 .col {
    /* border: 1px solid grey; */
    height: 50px;

}

.card2 .col {
    /* border: 1px solid grey; */
    height: 350px;
    margin-top: 2%;
}


.row{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    
}

.img-card {
    height: 70%;
    border-radius: unset;
}

.text-card {
    height: 30%;
    border-radius: unset;
    padding-top: 6px;
}

.button-align {
    /* width: 25%; */
    margin: 0 auto;
    margin-top: 3%;
}

.activeClass {
    border-bottom: 3px solid #ef3f30;;
}

.noActiveClass {
    border-bottom: none;    
}



.img-fluid {
    max-height: 100%;
    max-width: 100%;

}



.bikeTitle {
    margin-bottom: 10px;
    color: #2a2a2a;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    white-space: nowrap;
    text-align: center;
}

.text-light-grey {
    color: #82888b;
}


.heading {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    /* margin-top: 30px; */
    position: relative;
    top: 40px;
}

.text03 {
    font-weight: 700;
    font-size: large;
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
/* @media only screen and (min-width: 800px )  and (max-width: 1000px ){
    .image-size {
        width: 195px;
    }
  } */