<div class="container">

  <div class="mgT50">
    <app-shop-nav></app-shop-nav>


    <div class="row1">
      <div class="col-md-3">

        <!-- https://www.codeply.com/go/GQ1Mz8RqZB/bootstrap-4-sidebar-menu-(toggleable) -->
        <div class="" id="sidebar">
          <div class="list-group panel">
            <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="true">
              <i></i>
              <span class="hidden-sm-down">BRAND NAME</span>
            </a>
            <div class="collapse bgw show" id="menu1">


              <a class="list-group-item bgw" data-parent="#menu1">
                <input class="brand-search" type="text" placeholder="Search Brand...">
              </a>
              <a class="list-group-item bgw" data-parent="#menu1">

                <div id="checkboxes">
                 
                  <ul>
                    <li><input type="checkbox"> Honda [10]</li>
                    <li><input type="checkbox"> Super Power [10]</li>
                    <li><input type="checkbox"> Dhoom [15]</li>
                    <li><input type="checkbox"> Suzuki [15]</li>
                    <li><input type="checkbox"> Honda [25]</li>
                    <li><input type="checkbox"> Super Power [35]</li>
                    <li><input type="checkbox"> Dhoom [62]</li>
                    <li><input type="checkbox"> Suzuki [05]</li>
                  </ul>
                </div>

              </a>
            </div>
          </div>
          <div class="list-group panel">
            <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
              <i class="fa fa-dashboard"></i>
              <span class="hidden-sm-down">Item 1</span>
            </a>
            <div class="collapse" id="menu2">


              <a href="#" class="list-group-item bgw" data-parent="#menu2">Subitem 2</a>
              <a href="#" class="list-group-item bgw" data-parent="#menu2">Subitem 3</a>
            </div>
          </div>
          <div class="list-group panel">
            
            
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="big-cat-head">
          AIR BLOWERS
        </div>
        <div class="big-cat">
          <section class="pagination-box">
            <span class="c7">
              Sort By:
              <select>
                <option value="volvo">Name</option>
                <option value="saab">Price</option>
              </select>

            </span>

            <span class="fl-r c7">25 Items</span>

            <div class="mgt25">
              <div class="row2">
                <div class="col1 col-md-3 card-sizeing" [routerLink]="['/product-detail']">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>
                <div class="col1 col-md-3 card-sizeing">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>
                <div class="col1 col-md-3 card-sizeing">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>

                <div class="col1 col-md-3 card-sizeing">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>

                <div class="col1 col-md-3 card-sizeing">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>

                <div class="col1 col-md-3 card-sizeing">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>

                <div class="col1 col-md-3 card-sizeing">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>

                <div class="col1 col-md-3 card-sizeing">
                  <div class="w22 m0a">
                    <img src="https://img.tolexokit.com/media/catalog/product/p/m/pm7650h_4_1_1.jpg?resize=1&q=98&w=190&h=190&zc=2" alt="" width="200px"
                      height="200px">

                    <span class="prds-name">KHERAJ Centrifugal Blower, K-118</span>
                    <span class="price-box">
                      Rs. 69144
                    </span>
                    <button class="wdt-bt">Contact Supplier</button>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>

      </div>
    </div>

  </div>
</div>