<footer class="footer">
<div class="footer_new footer_padding">
  <div class="row">

  <div class="col-md-3">
    <h4>Bike by Brand </h4>
     <ul class="bikeBrands">
        <li>Honda</li>
        <li>Suzuki</li>
        <li>United</li>
        <li>Zxmco</li>
        <li>Unique</li>
        <li>Yamaha</li>
        <li>Road Prince</li>
        <li>Super Power</li>
 
     </ul>


  </div>


  <div class="col-md-3">
      <h4>Bike by City </h4>
       <ul class="bikeBrands">
          <li>Karachi</li>
          <li>Lahore </li>
          <li>Quetta</li>
          <li>Multan</li>
          <li>Faisalabad</li>
          <li>Peshawar</li>
          <li>Islamabad</li>
          <li>Rawapindi</li>
   
       </ul>
  
  
    </div>
  

    <div class="col-md-3">
        <h4>Explore ebike </h4>
         <ul class="bikeBrands">
            <li>Used Bikes</li>
            <li>New Bikes </li>
            <li>Showroom</li>
            <li>Videos</li>
            <li>Forum</li>
            <li>Shop</li>
            <li>Blog</li>
            <li>Advertise With Us</li>
     
         </ul>
    
    
      </div>
    

    <div class="col-md-3">
        <h4>Contact Us </h4>
         <ul class="bikeBrands">
            <li>Support@ebike.pk</li>
            <li>021-35396999 </li>
                
         </ul>    
      </div>

  </div>
  <div class="row">
    <div class="col-7">
        AboutUs | Contact Us | Terms & Conditions | Private Policy | Site Map
    </div>
    <div class="storeIcons">
      <div class="appstoreIcon">

      </div>
      <div class="googlestoreIcon">
          
        </div>
    </div>
    
    
  </div>
  <div class="copyright">
      © 2018 Copyright by Company. All rights reserved.
  </div>
</div>
</footer>