<div class="container">

    <div class="content-center">
      <div style="border: 0px" class="card card-top-padding">
        <div  class="card-body">
          <h2>Find your biek by brand</h2>
        </div>
      </div>
    </div>




  <div class="content-center">
    <div style="padding-bottom: 20px" class="card card-top-padding">
        <div class="row card2">
      
      
      
    <div class="col">
        <div class="ribbon">
          <span>New</span>
        </div>
      <img class="card-img-top" src="assets/images/Honda_CBR250RR_L_1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    
    <div class="col d-none d-xl-block d-lg-block d-md-block" >
        <div class="ribbon">
            <span>New</span>
          </div>
      <img class="card-img-top" src="assets/images/Honda_CBR250RR_L_1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>




    <div class="col d-none d-xl-block d-lg-block" >
        <div class="ribbon">
            <span>New</span>
          </div>
      <img class="card-img-top" src="assets/images/Honda_CBR250RR_L_1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a style="display: block" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <!-- <div class="button-center">
        <button class="btn btn-outline-info button-align" type="button">View more Featured Bikes</button>

      </div> -->
      
  </div>
  <button class="btn btn-outline-info button-align" type="button">View more Featured Bikes</button>

  <!-- <div class="row">
      <button class="btn btn-outline-info button-align" type="button">View more Featured Bikes</button>

  </div> -->
</div>

</div>

</div>