<div class="container">
  <!-- https://www.codeply.com/go/yEA0LFixjJ -->
  <section class="carousel1a slide" data-ride="carousel" id="postsCarousel">
    <div class="container" style="display: inline">
      <h2 class="title-top-category">TOP SELLING PRODUCTS</h2>
      <div style="float: right;line-height: 40px">
        <div class="col-xs-12 text-md-right lead">
          <a class="prev1" title="go back">
            <i class="fa fa-lg fa-chevron-left"></i>
          </a>
          <a class="next1" title="more">
            <i class="fa fa-lg fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="container p-t-0 m-t-2 carousel-inner big-cat">
      <div class="row row-equal carousel-item active m-t-0">
        <div class="col-md-4">

          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1" height="400px" width="400px">
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2" height="400px" width="400px">
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3" height="400px" width="400px">
            </div>

          </div>
        </div>
      </div>
      <div class="row row-equal carousel-item m-t-0">
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img src="//visualhunt.com/photos/l/1/office-student-work-study.jpg" alt="Carousel 4" height="400px" width="400px">
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img src="//visualhunt.com/photos/l/1/working-woman-technology-computer.jpg" alt="Carousel 5" height="400px" width="400px">
            </div>

          </div>
        </div>
        <div class="col-md-4 fadeIn wow">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img src="//visualhunt.com/photos/l/1/people-office-team-collaboration.jpg" alt="Carousel 6" height="400px" width="400px">
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>