.big-cat {
    width: 100%;
    padding: 10px 4px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eee;
    border-top: 2px solid #56006b;
}

/* equal card height */

.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

/* ensure equal card height inside carousel */

.carousel-inner>.row-equal.active, .carousel-inner>.row-equal.next, .carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */

.carousel-inner>.row-equal.active.left, .carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

/* control image height */

.card-img-top-250 {
    max-height: 250px;
    overflow: hidden;
}

.text-md-right {
    text-align: right!important;
}

.title-top-category {
    background-color: #fff;
    padding: 0 20px 0 10px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
}