<div class="container">
    <div class="card-header">
      Our Catogories
    </div>

<div class="container"> 
  <div class="flex-container">

    <a class="card" href="#">
        <img src="../../../../assets/images/bike-helmets.jpg" class="card-img-top cat_img" >
        <span class="card-footer text-muted txt1">Helmets</span>
    </a>
     
    <a class="card" href="#">
      <img src="../../../../assets/images/lubricant.jpg" class="card-img-top cat_img" >
      <span class="card-footer text-muted txt1">Lubricant & Additives</span>
    </a>
      
    <a class="card" href="#">
      <img src="../../../../assets/images/bikwhyn.jpg" class="card-img-top cat_img">
      <span class="card-footer text-muted txt1">New Motorcycles</span>
    </a>
  </div>
  <div class="card-header">
      Recent Products
    </div>
    <div class="container"> 
        <div class="flex-container">
      
          <a class="card" href="#">
              <img src="../../../../assets/images/hel1.jpg" class="card-img-top cat_img" >
              <div class="card-footer text-muted txt1">
                  Helmets                </div>
              
          </a>
           
          <a class="card" href="#">
            <img src="../../../../assets/images/hel1.jpg" class="card-img-top cat_img" >
            <div class="card-footer text-muted txt1">
                Helmets                </div>
          </a>
            
          <a class="card" href="#">
            <img src="../../../../assets/images/hel1.jpg" class="card-img-top cat_img">
            <div class="card-footer text-muted txt1">
                Helmets                </div>
          </a>
        </div>
        </div>
</div>